<br>
<br>
<h1 class="text-center">Liste des taches</h1>
<br> <br>
<div class="container">
  <div class="row">
    <div class="col-3" *ngFor="let tache of taches;let i=index" style="margin-bottom: 20px;">
      <div class="card">
        <div class="card-body text-center mt-4">
          <h4 class="card-title">{{tache.titre}}</h4>
          <p class="card-text">{{tache.contenu}}</p>
          <button type="button" style="height: 29px;width: 200px;" *ngIf="tache.a"
            class="btn btn-success">réalisé</button>
          <button type="button" style="height: 29px;;width: 200px;" *ngIf="!tache.a"
            class="btn btn-danger">non_réalisé</button>
          <br>
          <br>
          <div class="btn-group" role="group" aria-label="Button group">
            <a type="submit" class="btn btn-success" [routerLink]="['/tache/modifier', tache.id]">Editer</a>
            <a type="submit" class="btn btn-danger" (click)="supprimer(i)">Supprimer</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>