<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/les_taches"> Les taches</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link " style="color: blue;" routerLink="/tache/ajouter">Ajouter une tache</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: blue;" routerLink="/tache/modifier">Modifier une tache</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: blue;" routerLink="/tache/">Liste des taches</a>
      </li>
    </ul>

  </div>
</nav>
<router-outlet></router-outlet>
